# PDBC CONNECTIVITY STEPS:

While we install pip,first we have to add not symbol(!) ie compulsory.

1ST STEP_

First of all we import mysql.connector then will call connect method at mysql.connector object that contains 4 

arguments...

1st one is POST,in which we will pass server name and we will use local host,

2nd one is user name for MYSQL, 

3rd one is pwd of mysql and 

last one contains name of database.

Connect method will return db connectivity obj.

We can execute query by using cursor and we can construct a cursor object
when we will call cursor method on db connectivity 

object.

We can execute a query by using cursor when we will call execute method of cursor in which we will pass one or two 

argument.Either we can pass only query as 1st argument or we can pass query and tuple that contains actual values which we want 

to store in db.We will call commit method after each DML operations.

# INSERT PROGRAM:

In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=1798ec15e0b40e9aed2637cc71d75dafd8d1d4af132f3920c6c72244b52a6ad0
  Stored in directory: c:\users\hzt\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [9]:
!pip install mysql-connector-python

# if above pip doesn't work then you can use this pip.

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp39-cp39-win_amd64.whl (7.2 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.4-cp39-cp39-win_amd64.whl (895 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.28 protobuf-3.19.4

In [11]:
import mysql.connector

In [ ]:
mysql.connector ke andar n connector object pr ek method call kruga ie connect() ...n ye connect method kch arguments leti h..
1st is host--host means server ka name..ap local machine pr chla rhe ho to us pr jo work krta h uska nam h local host..
1_host='localhost'
2_user='root'
3_password='root'
4_database=iska db bnana pdta h hmne py12 bnaya tha n nh mil rha ho ya delete ho gya ho to bna lo...
create database py12;
use py12;
create table emp(id int,name varchar(20),sal int,job varchar(15))
desc emp;
4_database='py12'

n ye sb return krke deta h database connectivity ka obj db.

In [14]:
import mysql.connector
db=mysql.connector.connect(
host='localhost',
user='root',
password='root',
database='py121'
)
cr=db.cursor()
id=int(input("Enter id :"))
name=input("Enter Name :")
sal=int(input("Enter Salary :"))
job=input("Enter Job :")
qr="insert into emp values(%s,%s,%s,%s)"
val=(id,name,sal,job)
cr.execute(qr,val)
db.commit()
print(cr.rowcount,"Emp Added")

Enter id :102
Enter Name :jay
Enter Salary :3500
Enter Job :manager
1 Emp Added

In [15]:
import mysql.connector
db=mysql.connector.connect(
host='localhost',
user='root',
password='root',
database='py121'
)
cr=db.cursor()
id=int(input("Enter id :"))
qr="delete from emp where id=%s"
val=(id,)
cr.execute(qr,val)
db.commit()
print(cr.rowcount,"emp deleted")

Enter id :102
1 emp deleted

In [18]:
import mysql.connector
db=mysql.connector.connect(
host='localhost',
user='root',
password='root',
database='py121'
)
cr=db.cursor()
id=int(input("Enter Old id :"))
name=input("Enter New Name :")
sal=int(input("Enter New Salary :"))
job=input("Enter New Job :")
qr="update emp set name=%s,sal=%s,job=%s where id=%s"
val=(name,sal,job,id)
cr.execute(qr,val)
db.commit()
print(cr.rowcount,"Emp Updated")

Enter Old id :103
Enter New Name :jaya
Enter New Salary :3500
Enter New Job :manager
0 Emp Updated

# NOTE:

abhi tk ap jitni b query execute krte the sb MYsql ke console se krte the...

db ke andar apke pas tables h n is table se deal krne ke liye apko mysql ke console ki need hoti h..abhi tk jo apki query hoti 

thi wo mysql ke console se hoti thi...n apko kya lgta tha ki jo b query ap raise krte the wo directly db ke table pe hit kr 

dega but asa nh h...bich m ek memory area hota h jiska nam h "cursor" ..jo logically nh phisically exist krti hui memory h...

to apne koi b query mysql ke console pr type ki to wo ja rhi h "cursor" ke pas..then cursor use table ke pas deta tha..then 

table pr query execute hone ke bad again cursor ke pas ati thi n cursor again console ko deta tha...pr is bar apke pas mysql ka 

console nh h..is bar apke pas jo query h execute krna h use python ke program ke through...means apke pas is bar cursor nh h 

python program h..ab ap python program se query execute kroge wo b ap directly execute nh kr paoge uske liye apko manually 

cursor bnana pdega...n ap python program se phle construct kroge cursor n ye cursor deal krega table se...ntable ka result waps 

cursor ke pas then python program ke pas jayega...mysql console internally deal krta h cursor se n python program ko externally 

cursor bnana pdega phle...

apke pas db connectivity ka ek option h db n ap us pr ek method call kroge ie 1_cursor() n apko return hokr milega uska obj ie 

"cr" n ye cursor resposible rhega apki queries execute krne ke liye...n ab is program m cursor tk ka kam ho gyah means apke pas 

sbkch h ab ap user se input loge...id li,name,sal,job...ab apko dhyan rkhna h ap user se kitni value le rhe ho...n ab ap apni 

query likhoge as a string...insert into emp emp values..n jha2 pr values dena h us jgh ap use kroge %s ka.."%s means DUMMY 

PARAMETER"...like(%s,%s,%s,%s)...n ise store kra denge tuple m n us tuple m hm queries ko put krte jayege jisme 1st place pr 

id,2nd name ,3rd sal n 4th job...n ab table pr query execute krega cursor...ap cursor pr ek method call 

kroge..cr.execute(qr,val)...ab query apne as a tuple deni h n use apne store krai h val m...is db pr apne jo operation perform 

kiya tha wo h DML n dml m last m commit krna hota h...db.commit()..n apko pta h kitni row affect hui to ..ap print kr skte ho 

cursor.rowcount(),"emp added")..n iske bad hm input dete jayege n ek emp add ho jayeg n ab hme ise dekhne ke liye db m jayege n 

wha cmd run krege ie select * from emp;...n in sb ka mtlb yeh ki ab apko bar2 db m jakr insert krne ki need nh h ye sb ap 

python program ke through b kr skte ho...

In [27]:
import mysql.connector
db=mysql.connector.connect(
host='localhost',
user='root',
password='root',
database='py121'
)
cr=db.cursor()
id=int(input("Enter id :"))
name=input("Enter Name :")
sal=int(input("Enter Salary :"))
job=input("Enter Job :")
qr="insert into emp values(%s,%s,%s,%s)"
val=(id,name,sal,job)
cr.execute(qr,val)
db.commit()
print(cr.rowcount,"Emp Added")

Enter id :104
Enter Name :dev
Enter Salary :8900
Enter Job :dba
1 Emp Added

In [28]:
import mysql.connector
db=mysql.connector.connect(
host='localhost',
user='root',
password='root',
database='py121'
)
cr=db.cursor()
qr="select * from emp"
cr.execute(qr)
data=cr.fetchall()
print(data)

[(101, 'jaya', 3500, 'manager'), (102, 'jayash', 3500, 'manager'), (103, 'harsh', 5600, 'developer'), (104, 'dev', 8900, 'dba')]

In [29]:
import mysql.connector
db=mysql.connector.connect(
host='localhost',
user='root',
password='root',
database='py12'
)
cr=db.cursor()
qr="select * from emp"
cr.execute(qr)
data=cr.fetchall()
if len(data)>0:
    for i in data:
        for j in i:
            print(j,end=" ")
            print()
else:
    print("no records found")

101
jaya
3500
manager
10
103
jaya
3500
manager
30
104
raj
3200
developer
10
105
raju
3000
developer
20
106
dev
3100
developer
30
107
abhi
1200
designer
10
108
abhishek
1500
designer
20
109
vibhuti
3300
manager
10

In [32]:
import mysql.connector
db=mysql.connector.connect(
host='localhost',
user='root',
password='root',
database='py121'
)
cr=db.cursor()
qr="select * from emp"
cr.execute(qr)
data=cr.fetchall()
if len(data)>0:
    for i in data:
        for j in i:
            print(j,end=" ")
        print()
else:
    print("no records found")

101 jaya 3500 manager
102 jayash 3500 manager
103 harsh 5600 developer
104 dev 8900 dba

In [33]:
import mysql.connector
db=mysql.connector.connect(
host='localhost',
user='root',
password='root',
database='py121'
)
cr=db.cursor()
id=int(input("Enter Id :"))
qr="select * from emp where id=%s"
cr.execute(qr,(id,))
data=cr.fetchall()
if len(data)>0:
    for i in data:
        for j in i:
            print(j,end=" ")
        print()
else:
    print("no records found")

Enter Id :105
no records found

In [ ]:
# TASK :

ek table leni h student...
roll
name
course
fees
year
sem
branch
this all are student table's column
select your choice :
1 add student
2_delete student
3_update student
4_show all students list
5_search student by roll
6_search student by name
7_search student by course
8_search student by branch
9_search student by year
10_search by fee condition

like fee=5000 or greater than 5000