# CONTINUE KEYWORD :

Continue is a keyword which is mainly use to ""skip or bypass execution of a loop"" according to specified condition.

In [1]:
for i in range(1,11):
    if i==5:
        continue
    print(i)                        #if ke sath condition de do n jise skip krna hai use equal krwa do i ke.

1
2
3
4
6
7
8
9
10

In [6]:
for i in range(1,11):
     print(i)
     if i==5:
        continue       #print upr kr diya to pura print hoga.

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1,11):
    if i==5 or i==8 or i==7:
        continue
    print(i)

1
2
3
4
6
9
10

In [8]:
for i in range(1,11):
    if i==5 and i==8 and i==7:
        continue                           #at a time tino equal nh ho skte hai.
    print(i)

1
2
3
4
5
6
7
8
9
10

# NOTE :

 In python we will use "else block"  with "for loop" it will execute after successful execution of "for loop" but if 
 
 "for loop" will terminate by "break keyword" then "else block" will not execute.

In [9]:
for i in range(1,11):
    print(i)
else:
    print("else block is running")

1
2
3
4
5
6
7
8
9
10
else block is running

In [10]:
for i in range(1,11):
    if i==5:
        break
    print(i)
else:
    print("else block is running")

1
2
3
4

In [3]:
n=5
if n==0 or n==1:
    print(n,"is not prime")
else:
    for i in range(2,n):
        if n%i==0:
            print(n,"is not prime")
            break
    else:
        print(n,"is prime")

5 is prime

# fibonacci series
0
1
2
3
4
5

In [2]:
t=int(input("Enter Terms :"))
a=0
b=1
if t==1:
    print(a)
else:
    print(a)
    print(b)
    t=t-2
    for i in range(t):
        c=a+b
        print(c)
        a,b=b,c

Enter Terms :7
0
1
1
2
3
5
8

In [5]:
t=int(input("enter terms"))
a=0
b=1
if t==1:
    print(a)
else:
    print(a)
    print(b)
    t=t-2
    for i in range(t):
        c=a+b
        print(c)
        a,b=b,c

enter terms1
0

In [6]:
t=int(input("enter terms"))
a=0
b=1
if t==1:
    print(a)
else:
    print(a)
    print(b)
    t=t-2
    for i in range(t):
        c=a+b
        print(c)
        a,b=b,c

enter terms2
0
1

In [7]:
t=int(input("enter terms"))
a=0
b=1
if t==1:
    print(a)
else:
    print(a)
    print(b)
    t=t-2
    for i in range(t):
        c=a+b
        print(c)
        a,b=b,c

enter terms3
0
1
1

In [ ]:
sbse phle 2 var le luga ie a=0 n b=1 this is for start, then ek condition le luga jisme agr user input 1 dal de to zero 
print krwa sku with the help of print(a)..ab else block m a n b dono ko print krwa duga thik h cz agr user 1 se jyda value 
enter kre to 0 n 1 to print hona he h...ab user jo b value enter kre usme se m dono var a n b ko minus krwa duga taki
loop bs age wali value ke liye he chle cz 0 n 1 to print ho he jayega agr 1 se bdi value user enter krta h to ...so hm
t=t-2 kr denge...abb hm loop chalayege then a n b ke sum ko ek var c m store krwa denge then use print krwa denge....n last m 
a n b ko swap krwa dnege b n c se like a,b=b,c.