In [2]:
a={                   
     'roll': 101,      
    'name': 'ajay',   
    'mobile': 9643837,
    'name' :'jay',     
    'reference':'jay'
}
print(a)


#yha key always unique rhegi n values can be duplicate but hmne yha do same key di h so wo last wali lega.
# We will represent indexes of dictionary by their keys.
#ajay islye print nh hua cz usko replace kr diya jay wali key ne.
#yha key unique h it shows by name print hua h last wala n 1st wale ko replace kr diya h.
#values can be duplicate which is shown by reference .

{'roll': 101, 'name': 'jay', 'mobile': 9643837, 'reference': 'jay'}

# Sort Dictionary By Key in Python

In [3]:
d = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
a=list(d.keys())
a.sort()
b={i:d[i] for i in a}
b

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [4]:
a={                  #ise indexed based collection islye nh kha jata h cz hm yha ise index se represent nh krte h,yha hm 
'roll': 101,         #represent krte h by keys like hme print krna h a ka roll no so hm directly likh dege wha.
'name': 'ajay',
 'mobile': 9643837,
'name' :'jay', 
'reference':'jay'
}
print(a['roll'])
print(a)

101
{'roll': 101, 'name': 'jay', 'mobile': 9643837, 'reference': 'jay'}

In [5]:
a={
'roll': 101,
'name': 'ajay',
 'mobile': 9643837
'name' :'jay', 
'reference':'jay'
}
print(a.roll)     #a.roll ye javascript m work krta h but yha python m nh krega.
print(a)

SyntaxError: invalid syntax (Temp/ipykernel_1820/13629495.py, line 5)

In [37]:
a={
'roll': 101,
'name': 'ajay',
 'mobile': 9643837,
'name' :'jay', 
'reference':'jay'
}
print(a['roll'])
a['roll']=105       #We can also update the dictionary you can see we updated here roll no.
print(a)

101
{'roll': 105, 'name': 'jay', 'mobile': 9643837, 'reference': 'jay'}

In [38]:
b={}                    #is list ke according ek dictionary create krni h so kse krege uske liye fromkeys ka use krege n ek
a=["name","email","pwd"]    # empty dict create krege n agr isme none ki jgh kch or rkhna ho to hm (a,0)rkh dege.
b=b.fromkeys(a)
print(b)

{'name': None, 'email': None, 'pwd': None}

In [39]:
b={} 
a=["name","email","pwd"]
b=b.fromkeys(a,0)
print(b)

{'name': 0, 'email': 0, 'pwd': 0}

In [40]:
a={}
e=int(input("enter number of entry"))
for i in range(1,e+1):
    print("enter detail for entry",i)
    k=input("enter key :")
    v=input("enter value :")
    a.update({k:v})
print(a)

enter number of entry2
enter detail for entry 1
enter key :1
enter value :2
enter detail for entry 2
enter key :3
enter value :4
{'1': '2', '3': '4'}

In [ ]:
a={}
e=int(input("enter number of entry"))
for i in range(1,e+1):
    print("enter detail for entry",i)
    k=input("enter key :")
    t=input("enter type of value")
    v=input("enter value :")
    if t=="int":
        v=int(v)
    a.update({k:v})
print(a)

In [ ]:
a={
    'roll':101,
    'name':'raka',
    'address':'zambada',
    'marks':[100,99,99,99,99]
}
for i,j in a.items():
    if i=='marks' :
        print(i,end=" ")
        r=0
        for t in j:
            print(t,end=" ")
            r=r+t
        print("\nresult is",r/len(j))
    else:
        print(i,j)

In [6]:
a={
    'roll':101,
    'name':'raka',
    'address':{'street':'zambada road',
              'city':'Amla',
              'state':'mp'}
}
for i,j in a.items():
    if type(j)==dict:
        print(i,end=" ")
        for t in j.values():
            print(t,end=" ")
    else:
        print(i,j)

roll 101
name raka
address zambada road Amla mp

In [7]:
a={
    'roll':101,
    'name':'raka',
    'address':{'street':'zambada road',
              'city':'Amla',
              'state':'mp'}
}
for i,j in a.items():
    if type(j)==dict:
        print(i,end=" ")
        for t in j:
            print(t,end=" ")
    else:
        print(i,j)
        
# values ko hta de 2nd loop m se to only keys print hogi.

roll 101
name raka
address street city state

In [8]:
s1={
    'roll':101,
    'name':'jay',
    'address':'Indore'
}
s2={
    'roll':102,
    'name':'ajay',
    'address':'Ujjain'
}
s3={
    'roll':103,
    'name':'jaya',
    'address':'Bhopal'
}
s={
    'student1':s1,
    'student2':s2,
    'student3':s3
}
print(s)

{'student1': {'roll': 101, 'name': 'jay', 'address': 'Indore'}, 'student2': {'roll': 102, 'name': 'ajay', 'address': 'Ujjain'}, 'student3': {'roll': 103, 'name': 'jaya', 'address': 'Bhopal'}}

In [9]:
s1={
    'roll':101,
    'name':'jay',
    'address':'Indore'
}
s2={
    'roll':102,
    'name':'ajay',
    'address':'Ujjain'
}
s3={
    'roll':103,
    'name':'jaya',
    'address':'Bhopal'
}
s={
    'student1':s1,
    'student2':s2,
    'student3':s3
}
for i,j in s.items():
    print(i,':')
    for k,v in j.items():
        print(k,':',v)

student1 :
roll : 101
name : jay
address : Indore
student2 :
roll : 102
name : ajay
address : Ujjain
student3 :
roll : 103
name : jaya
address : Bhopal

In [10]:
# doing same thing but above process better to use.
s={
    'student1':{
    'roll':101,
    'name':'jay',
    'address':'Indore'
},
    'student2':{
    'roll':102,
    'name':'ajay',
    'address':'Ujjain'
},
    'student3':{
    'roll':103,
    'name':'jaya',
    'address':'Bhopal'
}
}
for i,j in s.items():
    print(i)
    for k,v in j.items():
        print(k,v)

student1
roll 101
name jay
address Indore
student2
roll 102
name ajay
address Ujjain
student3
roll 103
name jaya
address Bhopal

In [11]:
s1={
    'roll':101,
    'name':'ajay',
    'marks':[98,78,99,79,68]
}
s2={
    'roll':102,
    'name':'jay',
    'marks':[88,68,69,79,78]
}
s3={
    'roll':103,
    'name':'jaya',
    'marks':[48,58,59,69,68]
}
s=[s1,s2,s3]
for n in s:
    for i,j in n.items():
        print(i,j)

roll 101
name ajay
marks [98, 78, 99, 79, 68]
roll 102
name jay
marks [88, 68, 69, 79, 78]
roll 103
name jaya
marks [48, 58, 59, 69, 68]

In [12]:
s1={
    'roll':101,
    'name':'ajay',
    'marks':[98,78,99,79,68]
}
s2={
    'roll':102,
    'name':'jay',
    'marks':[88,68,69,79,78]
}
s3={
    'roll':103,
    'name':'jaya',
    'marks':[48,58,59,69,68]
}
s={
    'student1':s1,
    'student2':s2,
    'student3':s3
}
for i,j in s.items():
    print(i,':')
    for k,v in j.items():
        print(k,v)

student1 :
roll 101
name ajay
marks [98, 78, 99, 79, 68]
student2 :
roll 102
name jay
marks [88, 68, 69, 79, 78]
student3 :
roll 103
name jaya
marks [48, 58, 59, 69, 68]

In [13]:
s1={
    'roll':101,
    'name':'ajay',
    'marks':[98,78,99,79,68]
}
s2={
    'roll':102,
    'name':'jay',
    'marks':[88,68,69,79,78]
}
s3={
    'roll':103,
    'name':'jaya',
    'marks':[48,58,59,69,68]
}
s=[s1,s2,s3]
for n in s:
    for i,j in n.items():
        if i=='marks' :
            r=0
            print(i,end=" ")
            for t in j:
                r=r+t
            print("\nresult is",r/len(j))
        else:
            print(i,j)

roll 101
name ajay
marks
result is 84.4
roll 102
name jay
marks
result is 76.4
roll 103
name jaya
marks
result is 60.4

In [14]:
languages = ['c','c++','java','python','oracle']
s={
    'roll':101,
    'name':'ajay',
    'marks':[98,78,99,79,68]
}
for i,j in s.items():
    if i=='marks':
        for x,y in zip(languages,j):
            print(x,y)
    else:
        print(i,j)

roll 101
name ajay
c 98
c++ 78
java 99
python 79
oracle 68

In [15]:
a={
    'roll':101,
    'name': 'ajay'
}
print('before deletion of dict',a)
del a['roll']
print('after deletion of dict',a)

before deletion of dict {'roll': 101, 'name': 'ajay'}
after deletion of dict {'name': 'ajay'}

In [16]:
# How to remove items from a dictionary
# We can use the following methods to remove items from a dictionary in Python:

# The del keyword
# The clear() method
# The pop() method
# The popitem() method

In [17]:
countries={"Ghana": "Accra", "China": "Beijing"}
# using the clear() method
countries.clear()
print(countries)

{}

In [18]:
countries={"Ghana": "Accra", "China": "Beijing"}
# using the pop() method
countries.pop("China")
print(countries)

{'Ghana': 'Accra'}

In [19]:
countries={"Ghana": "Accra", "China": "Beijing"}
# using the clear() method
countries.popitem()
print(countries)

{'Ghana': 'Accra'}

In [20]:
# Python3 Program to find sum of
# all items in a Dictionary

# Function to print sum


def returnSum(myDict):

	list = []
	for i in myDict:
		list.append(myDict[i])
	final = sum(list)

	return final


# Driver Function
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

In [21]:
# Python3 Program to find sum of
# all items in a Dictionary

# Function to print sum


def returnSum(dict):

	sum = 0
	for i in dict.values():
		sum = sum + i

	return sum


# Driver Function
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

In [22]:
a=[i for i in range(2,11,2)]
print(a)

[2, 4, 6, 8, 10]

In [23]:

a=[[j for j in range(i,3+i)] for i in range(1,4)]
print(a)

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [24]:
a=[[i for j in range(i,3+i)] for i in range(1,4)]
a

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [25]:

a=[[j*2 for j in range(i,3+i)] for i in range(1,4)]
print(a)

[[2, 4, 6], [4, 6, 8], [6, 8, 10]]

In [26]:
#set

In [27]:
city=["ujjain","dewas","indore","bhopal","ujjain","Ujjain"]
set(city)   #unique things will give'''

{'Ujjain', 'bhopal', 'dewas', 'indore', 'ujjain'}

In [28]:
s="hello\nhi\nnamaste"
for i in s.splitlines():    #Split a string into a list where each line is a list item.
    print(i)                #Return a list of the lines in the string, breaking at line boundaries.

hello
hi
namaste

In [29]:
s="hello\nhi\nnamaste"
x=s.splitlines()
print(x)#Return a list of the lines in the string, breaking at line boundaries.

['hello', 'hi', 'namaste']

In [30]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [31]:
d1={1:"kishore","2":"Indore","c":"Trainer",1.5:[1,2,3,4],"2.6":(11,22,33)}
d1

{1: 'kishore',
 '2': 'Indore',
 'c': 'Trainer',
 1.5: [1, 2, 3, 4],
 '2.6': (11, 22, 33)}

In [32]:
for i in  d1:
    print(i)

1
2
c
1.5
2.6

In [33]:
emp={"eid":[101,102,103,104,105],
     "ename":["kishore","aditya","jay","jaya","chhaya"],"salary":[1000,1200,1500,900,800],
     "profile":["developer","tester","hr","tester","developer"],"city":["indore","ujjain","indore","bhopal","bhopal"]}
emp

{'eid': [101, 102, 103, 104, 105],
 'ename': ['kishore', 'aditya', 'jay', 'jaya', 'chhaya'],
 'salary': [1000, 1200, 1500, 900, 800],
 'profile': ['developer', 'tester', 'hr', 'tester', 'developer'],
 'city': ['indore', 'ujjain', 'indore', 'bhopal', 'bhopal']}

In [34]:
for i in emp:
    print(i)

eid
ename
salary
profile
city

In [35]:
emp["ename"]

['kishore', 'aditya', 'jay', 'jaya', 'chhaya']

In [36]:
emp["gender"]

KeyError: 'gender'

In [ ]:
emp["gender"]=["male","male","male","female","female"]

In [ ]:
emp

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame(emp)
df

In [ ]:
df.drop("gender",axis=1)

In [ ]:
emp["ename"]

In [ ]:
emp["ename"][1]

In [ ]:
emp.get("gender")

In [ ]:
for i in emp.items():
    keys,values=i
    print(keys,":",values)

In [ ]:
emp.values()

In [ ]:
emp.keys()

In [ ]:
emp.setdefault     # used to print the value at a given key position. If there is no value at the given index, it prints None.

In [ ]:
emp.popitem()       #Remove and return a (key, value) pair as a tuple.

In [ ]:
bonus={"eid":[101, 102, 103, 104, 105],"bonus":[500,100,150,200,180]}
bonus

In [ ]:
emp.update(bonus)
emp

In [ ]:
set(emp["profile"])

In [ ]:
set(emp["gender"])

In [ ]:
sum(emp["salary"])/len(emp["salary"])

In [ ]:
def price_cal(n):
    total_price=0
    for i in range(n):
        price=int(input("Enter the price of item"))
        total_price=total_price+price
    return total_price
NoI=int(input("Enter the number of items purchased by you :"))
price_cal(NoI)

In [1]:
def discount(n):
    if(n>=300):
        n=n-n*.2
    else:
        n=n-n*.1
    return n
discount(200)

180.0