In [38]:
for i in range (1,6):
    for j in range(1,6):
        print("*",end="  ")
    print()

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [1]:
n=5
if n==0 or n==1:
    print(n,"is not prime")
else:
    for i in range(2,n):
        if n%i==0:
            print(n,"is not prime")
            break
    else:
        print(n,"is prime")

5 is prime

In [1]:
t=int(input("Enter Terms :"))
a=0
b=1
if t==1:
    print(a)
else:
    print(a)
    print(b)
    t=t-2
    for i in range(t):
        c=a+b
        print(c)
        a,b=b,c

Enter Terms :4
0
1
1
2

In [2]:
for i in range (1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
for i in range (1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [2]:
for i in range (1,6):
    for j in range(1,i+1):
        print(1,end="   ")
    print()

1
1   1
1   1   1
1   1   1   1
1   1   1   1   1

In [5]:

for i in range (1,6):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [45]:
for i in range (1,6):
    for j in range(i,0,-1):
        print(j,end="  ")
    print()

1
2  1
3  2  1
4  3  2  1
5  4  3  2  1

In [3]:
for i in range(0,5):
    for j in range(i+1,0,-1):
        print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [4]:
for i in range (1,6):
    for j in range(6-i,0,-1):
        print(i,end="  ")
    print()

1  1  1  1  1
2  2  2  2
3  3  3
4  4
5

In [5]:
for i in range (1,6):
    for j in range(6-i,0,-1):
        print(j,end="  ")
    print()

5  4  3  2  1
4  3  2  1
3  2  1
2  1
1

In [6]:

for i in range (1,6):
    for j in range(5-i,0,-1):
        print("+",end=" ")
    for j in range (1,i+1):
        print(" * ",end=" ")
    print()
    
#1 se bdega to i m +1 kr dege but  2 ke difference se bda to i m 2 ka multiply kr dege.

#5-i islye h cz 5 bar loop chalega to usme se 1 minus kr dege

+ + + +  *
+ + +  *   *
+ +  *   *   *
+  *   *   *   *
 *   *   *   *   *

In [6]:
for i in range (1,5):
    for j in range(4-i,0,-1):
        print("",end="  ")
    for j in range (1,2*i):
        print("*",end=" ")
    print()

      *
    * * *
  * * * * *
* * * * * * *

In [5]:
for i in range(1,6):
    for j in range(1,i):
        print(' ',end=' ')
    for j in range(6-i,0,-1):
        print(' * ',end=' ')
    print()

 *   *   *   *   *
   *   *   *   *
     *   *   *
       *   *
         *

In [49]:
for i in range (1,5):
    for j in range(1,i):
        print(" ",end="  ")
    for j in range (2*4+1-2*i,0,-1):
        print("*",end="  ")
    print()

*  *  *  *  *  *  *
   *  *  *  *  *
      *  *  *
         *

In [9]:
for i in range (1,6):
    for j in range(1,i):
        print(" ",end="  ")
    for j in range (2*5+1-2*i,0,-1):
        print("*",end="  ")
    print()

*  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *
      *  *  *  *  *
         *  *  *
            *

In [10]:
for i in range (1,5):
    for j in range(4-i,0,-1):
        print("",end=" ")
    for j in range (1,2*i):
        print("*",end="")
    print()
for i in range (1,5):
    for j in range(1,i):
        print("",end=" ")
    for j in range (2*4+1-2*i,0,-1):
        print("*",end="")
    print() 
for i in range (1,5):
    for j in range(4-i,0,-1):
        print("",end=" ")
    for j in range (1,2*i):
        print("*",end="")
    print()

   *
  ***
 *****
*******
*******
 *****
  ***
   *
   *
  ***
 *****
*******

In [7]:
for i in range (1,4):
    for j in range(1,i):
        print("",end=" ")
    for j in range (2*4+1-2*i,0,-1):
        print("*",end="")
    print()
for i in range (1,5):
    for j in range(4-i,0,-1):
        print("",end=" ")
    for j in range (1,2*i):
        print("*",end="")
    print()

*******
 *****
  ***
   *
  ***
 *****
*******

In [23]:
for i in range (1,5):
    for j in range(1,i):
        print("- ",end=" ")
    for j in range (2*4+1-2*i,0,-1):
        print(" * ",end="")
    print()

 *  *  *  *  *  *  *
-   *  *  *  *  *
-  -   *  *  *
-  -  -   *

In [24]:
for i in range (1,5):
    for j in range(1,i):
        print("  ",end=" ")
    for j in range (2*4+1-2*i,0,-1):
        print(" * ",end="")
    print()

 *  *  *  *  *  *  *
    *  *  *  *  *
       *  *  *
          *

In [8]:
for i in range (1,4):
    for j in range(1,i):
        print("  ",end=" ")
    for j in range (2*4+1-2*i,0,-1):
        print(" * ",end="")
    print()
for i in range (1,5):
    for j in range(4-i,0,-1):
        print(" ",end="  ")
    for j in range (1,2*i):
        print(" * ",end="")
    print()

 *  *  *  *  *  *  *
    *  *  *  *  *
       *  *  *
          *
       *  *  *
    *  *  *  *  *
 *  *  *  *  *  *  *

In [9]:
for i in range (1,4):
    for j in range(4-i,0,-1):
        print(" ",end="  ")
    for j in range (1,2*i):
        print(" * ",end="")
    print()
for i in range (1,5):
    for j in range(1,i):
        print("  ",end=" ")
    for j in range (2*4+1-2*i,0,-1):
        print(" * ",end="")
    print()

          *
       *  *  *
    *  *  *  *  *
 *  *  *  *  *  *  *
    *  *  *  *  *
       *  *  *
          *

In [28]:
for i in range (0,6):
    for j in range(0,6-i):
        print(j,end="  ")
    print()

0  1  2  3  4  5
0  1  2  3  4
0  1  2  3
0  1  2
0  1
0

In [29]:
for i in range (1,10):
    if(i%2!=0):
        for j in range(1,i+1):
            print(i,end="  ")
        print()

1
3  3  3
5  5  5  5  5
7  7  7  7  7  7  7
9  9  9  9  9  9  9  9  9

In [24]:
number=1
for i in range (1,5):
    for j in range(1,i+1):
        print(number,end="  ")
        number=number+1
    print()

1
2  3
4  5  6
7  8  9  10

# LIST QUES :

# SUM OF TWO LIST :

In [3]:
a=[1,2,3,4,7]
b=[5,6,7,8,9]
d=[]
# a[4]=0
for i in range (len(a) or len(b)):
    if a[i] is None or b[i] is None:
        a.append(0)
    c=a[i]+b[i]
    d.append(c)
d

[6, 8, 10, 12, 16]

In [8]:
a=[1,2,3,4,7]
b=[5,6,7,8,9]
c=[(a[i]+b[i]) for i in range(len(a))]
print(c)

[6, 8, 10, 12, 16]

In [50]:
a=[]
s=int(input("enter size of list"))
print("enter",s,"elements")
for i in range(1,s+1):
    print("enter",i,"element")
    t=int(input())
    a.append(t)
print(a)

enter size of list3
enter 3 elements
enter 1 element
1
enter 2 element
2
enter 3 element
3
[1, 2, 3]

In [51]:
a=[]
s=int(input("enter size of list :"))
print("enter",s,"elements")
for i in range(1,s+1):
    print("enter",i,"element")
    t=int(input())
    a.append(t)
print(a)
sum=0
for i in a:
    sum=sum+i
print("sum of the list",sum)

enter size of list :3
enter 3 elements
enter 1 element
1
enter 2 element
2
enter 3 element
3
[1, 2, 3]
sum of the list 6

In [52]:
a=[]
s=int(input("enter size of list :"))
print("enter",s,"elements")
for i in range(1,s+1):
    print("enter",i,"element")
    t=int(input())
    a.append(t)
print(a)
sum=0
for i in range(len(a)):
    sum = sum + a[i]
print(sum)

enter size of list :3
enter 3 elements
enter 1 element
1
enter 2 element
2
enter 3 element
3
[1, 2, 3]
6

In [53]:
a=[]
s=int(input("enter size of list :"))
print("enter",s,"elements")
for i in range(1,s+1):
    print("enter",i,"element")
    t = int(input())
    a.append(t)
print(a)
a.sort()
print("smallest element is",a[0])
a.reverse()
print("Biggest element is",a[0])

enter size of list :3
enter 3 elements
enter 1 element
1
enter 2 element
2
enter 3 element
3
[1, 2, 3]
smallest element is 1
Biggest element is 3

In [1]:
a=[10,20,30,30,30,10,10,20,50]
b=[]
for i in a:
    if a.count(i)>2 and i not in b:
        b.append(i)
print(b)

[10, 30]

# OWN SQUARE IN THE SAME LIST :

In [2]:
a=[2,8,3,9,4,15,16,17]
b=[]
for i in a:
    if i**2 in a:
        b.append(i)
print(b)

[2, 3, 4]

In [54]:
a=[]
s=int(input("enter size of list"))
print("enter",s,"elements")
for i in range(1,s+1):
    print("enter",i,"element")
    t=int(input())
    a.append(t)
print(a)
se=0
so=0
for i in a:
    if i%2==0:
        se=se+i
    else:
        so=so+i
print("sum of even is",se)
print("sum of odd is",so)

enter size of list3
enter 3 elements
enter 1 element
1
enter 2 element
2
enter 3 element
3
[1, 2, 3]
sum of even is 2
sum of odd is 4

In [55]:
a=[10,20,10,20,30,40,10,20,30,40,40,50,10,20,30,40,50,60,10,60]
for i in a:
     if a.count(i)>1 :
            print(i,"repeated",a.count(i),"times")       #but isme problem h ki ye har bar bta rha h ki ye repeat ho rha h.

10 repeated 5 times
20 repeated 4 times
10 repeated 5 times
20 repeated 4 times
30 repeated 3 times
40 repeated 4 times
10 repeated 5 times
20 repeated 4 times
30 repeated 3 times
40 repeated 4 times
40 repeated 4 times
50 repeated 2 times
10 repeated 5 times
20 repeated 4 times
30 repeated 3 times
40 repeated 4 times
50 repeated 2 times
60 repeated 2 times
10 repeated 5 times
60 repeated 2 times

In [8]:
a=[10,20,10,20,30,40,10,20,30,40,40,50,10,20,30,40,50,60,10,60]
b=[]
for i in a:
     if a.count(i)>1 and i not in b:
            print(i,"repeated",a.count(i),"times")
            b.append(i)

10 repeated 5 times
20 repeated 4 times
30 repeated 3 times
40 repeated 4 times
50 repeated 2 times
60 repeated 2 times

In [6]:
a=[10,20,10,20,30,40,10,20,30,40,40,50,10,20,30,40,50,60,10,60]
b=[]
s=0
for i in a:
     if a.count(i)>1 and i not in b:
            print(i,"repeated",a.count(i),"times")
            b.append(i)
            s=s+i
print("sum of repeated elements is",s)

10 repeated 5 times
20 repeated 4 times
30 repeated 3 times
40 repeated 4 times
50 repeated 2 times
60 repeated 2 times
sum of repeated elements is 210

In [ ]:
'''
1_find out factorial of each element in list
2_check each element of list is prime or not.
3_print sum of prime no and sum of non prime no from the list.
4_Find out repeated elements and their counts from the list.
# 1_print non repeated element from list
# 2_sum of non repeated elements.
'''

In [2]:
a=[]
for i in range(5,10):
    a.append(i)
print(a)
for i in a:
    f=1
    for j in range(1,i+1):
        f=f*j
#         print(f)
    print("fact of ",i," is",f)

[5, 6, 7, 8, 9]
fact of  5  is 120
fact of  6  is 720
fact of  7  is 5040
fact of  8  is 40320
fact of  9  is 362880

a=[]
n=int(input("enter size of list :"))
for i in range(n):
    t=int(input())
    a.append(t)
print(a)

In [5]:
print(a)
for i in a:
    for j in range(2,i):
        if i%j==0:
            print(i," is not a prime")
            break
    else:
        print(i," is prime ")

[5, 6, 7, 8, 9]
5  is prime
6  is not a prime
7  is prime
8  is not a prime
9  is not a prime

In [ ]:
d={
    'x':'10',
    'y':'20'
  }
c={
    'pi':'3.14',
    'q':'1.2'
}
o/p--
d={
    'x':10,
    'y':20
  }
c={
    'pi':3.14,
    'q':1.2
}

In [38]:
s1={3,4}
s2={1,2}
s3=set()
i=0
j=0
for i in s1:
    for j in s2:
        s3.add((i,j))
        print((i,j))
        i+=1
        j+=1
        print(i,j)
print(s3)

(3, 1)
4 2
(4, 2)
5 3
(4, 1)
5 2
(5, 2)
6 3
{(3, 1), (4, 1), (4, 2), (5, 2)}

In [2]:
values=["823","863"]
num=values[0][0:]
for row in range(0,len(values)):
    for column in range(0,len(values[row])):
        if num>values[row][column:]:
            num=values[row][column:]
print(num)

23

In [47]:
n=input("enter no ")
n1=int(n)
print(n1)
n2=int(n+n)
print(n2)
n3=int(n+n+n)
print(n1+n2+n3)

enter no 5
5
55
615

In [43]:
print('5'+'5')

55

In [4]:
# Nested---condition under condition

sal = int(input("enter the current salary:"))
YOJ = int(input("enter the year of joining:"))
CY = 2021
if(YOJ<=CY):
    exp = CY-YOJ
    print("your total year of exp is:",exp)
    if(exp>=5):
        sal = 1.3*sal
        print("your updated salary is:",sal)
    else:
        if(exp>=3):
            sal = 1.2*sal
            print("your updated salary is:",sal)
        else:
            if(exp>=1):
                sal = 1.1*sal
                print("your updated salary is:",sal)
            else:  
                print("sorry you are not eligible for increment",sal)   
else:
     print("please enter the valid year of joining")

enter the current salary:6000
enter the year of joining:2020
your total year of exp is: 1
your updated salary is: 6600.000000000001

In [7]:
sal = int(input("enter the current salary:"))
YOJ = int(input("enter the year of joining:"))
CY = 2021
if(YOJ<=CY):
    exp = CY-YOJ
    print("your total year of exp is:",exp)
elif(exp>=5):
    sal = 1.3*sal
    print("your updated salary is:",sal)
elif(exp>=3):
    sal = 1.2*sal
    print("your updated salary is:",sal)
elif(exp>=1):
    sal = 1.1*sal
    print("your updated salary is:",sal)
else:    
    print("sorry you are not eligible for increment",sal)

enter the current salary:6000
enter the year of joining:2018
your total year of exp is: 3

In [1]:
date = int(input("enter any date:"))
months = int(input("enter any month:"))
year = int(input("enter any year:"))
if(date > 0 and date < 32 and months > 0 and months < 13 and year > 0):
    print("date is valid")
else: print("Invalid date")

enter any date:12
enter any month:08
enter any year:2021
date is valid

In [4]:
date=input("Enter the date in dd/mm/yy format: ")
dd,mm,yy=date.split('/')
dd=int(dd)
mm=int(mm)
yy=int(yy)
if(mm==1 or mm==3 or mm==5 or mm==7 or mm==8 or mm==10 or mm==12):
    max1=31
elif(mm==4 or mm==6 or mm==9 or mm==11):
    max1=30
elif(yy%4==0 and yy%100!=0 or yy%400==0):
    max1=29
else:
    max1=28
if(mm<1 or mm>12):
    print("Date is invalid.")
elif(dd<1 or dd>max1):
    print("Date is invalid.")
elif(dd==max1 and mm!=12):
    dd=1
    mm=mm+1
    print("The incremented date is: ",dd,mm,yy)
elif(dd==31 and mm==12):
    dd=1
    mm=1
    yy=yy+1
    print("The incremented date is: ",dd,mm,yy)
else:
    dd=dd+1
    print("The incremented date is: ",dd,mm,yy)

Enter the date in dd/mm/yy format: 12,12,2021

ValueError: not enough values to unpack (expected 3, got 1)

In [5]:
ch = input("enter a character:")
if(ch=='A' or ch=='a' or ch=='E' or ch=='e' or ch=='I' or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print("it is a vowel:",ch)
elif((ch>='A' or ch>='a') and (ch<='Z' or ch<='z')):
     print("it is a consonant:",ch)
elif(ch>='0' and ch<='9'):
     print("it is a number or digit:",ch)
else:
    print("it is a special character")

enter a character:1
it is a number or digit: 1

In [ ]:
ch = input("enter a character:")
if(ch=='A' or ch=='a' or ch=='E' or ch=='e' or ch=='I' or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print("it is a vowel:",ch)
elif(ch>='0' and ch<='9'):
     print("it is a number or digit:",ch)
else:
    print("it is a consonant.")

In [6]:
# wap to check entered no is divisible by both 3 and 7.
Number= int(input("enter a number:"))
if((Number%3==0) and (Number%7==0)):
    print("{} is divisible by 3 and 7".format(Number))
else:
    print("{} is not divisible by 3 and 7".format(Number))

enter a number:23
23 is not divisible by 3 and 7

In [7]:
Number= int(input("enter a number:"))
if(Number%3==0):
    print("{} is divisible by 3".format(Number))
elif(Number%5==0):
    print("{} is divisible by 5".format(Number))
else:
    print("{} is not divisible by 3".format(Number)) 
    print("{} is not divisible by 5".format(Number))

enter a number:23
23 is not divisible by 3
23 is not divisible by 5

In [8]:
# wap to check entered no is divisible by 3 and 5 each.
no= int(input("enter a number:"))
if(no%3==0):
    print("it is divisible by 3")
elif(no%5==0):
    print("it is divisible by 5")
else:
     print("it is not divisible by 3") 
     print("it is not divisible by 5")

enter a number:45
it is divisible by 3

In [ ]:
# Even or odd without modulus----
no = int(input("enter any no:"))
if(no//2==0):
    print("It is an even no")
else:
    print("it is an odd no")

In [9]:
#If any character is entered through the keyboard then wap to check it is upper case or lower case character and swap 
# the case of character.

ch=input("enter any character:")
if(ch>='A' and ch<='Z'):
    print("it is upper case character")
else:
    print("it is lower case character")

enter any character:a
it is lower case character

In [10]:

name = input("Enter employee name:")
basic = input("enter basic salary:")
department1 = "Quality control"
department2 = "Manufacturing"
HRA = basic*.15
DA = basic*.25
PF = ((basic + DA)*.12)
TA = basic*.75
netpay = (basic+DA+HRA+TA)
grosspay = (netpay - PF)
days in month == 30
if(basic>=20000 and basic<=22000):
    print("salary of Quality control:",department1)
    if(basic>=25000 and basic<=28000):
         print("salary of Manufacturing:",department2)
    else:
        print("Invalid basic entered")

Enter employee name:loku
enter basic salary:20000

TypeError: can't multiply sequence by non-int of type 'float'

In [1]:
a=[1,2,3,4,7,8,1]
b=[5,6,7,8,7,6]
d=[]
a1=len(a)
b1=len(b)
# print(a1)
# print(b1)
if(a1>b1):
    for i in range(a1):
        if(i<a1):
            d.append(a[i]+b[i])
        else:
            d.append(a[i])
else:
    for i in range(b1):
#         print(i)
        if(i<a1):
            d.append(a[i]+b[i])
        else:
            d.append(b[i])
    
print(d)    
print('length of a1 ',a1)
print('length of b1 ',b1)

IndexError: list index out of range