In [ ]:
update emp set sal=3300 where id=109;
update emp set job='manager',deptno=10 where id=109;

alter table emp add comm int(3);
update emp set comm=500;// to set default value
alter table emp modify column comm int(5);
alter table emp drop column comm;

In [ ]:
 select name from emp order by name;
select name from emp order by name desc;

In [ ]:
create table student(roll int primary key,name varchar(20) not null,mob int unique,fees int default 6000);