In [1]:
s1={
    'roll':101,
    'name':'ajay',
    'marks':[98,78,99,79,68]
}
s2={
    'roll':102,
    'name':'jay',
    'marks':[88,68,69,79,78]
}
s3={
    'roll':103,
    'name':'jaya',
    'marks':[48,58,59,69,68]
}
s=[s1,s2,s3]
for n in s:
    for i,j in n.items():
        print(i,j)

roll 101
name ajay
marks [98, 78, 99, 79, 68]
roll 102
name jay
marks [88, 68, 69, 79, 78]
roll 103
name jaya
marks [48, 58, 59, 69, 68]

In [2]:
s1={
    'roll':101,
    'name':'ajay',
    'marks':[98,78,99,79,68]
}
s2={
    'roll':102,
    'name':'jay',
    'marks':[88,68,69,79,78]
}
s3={
    'roll':103,
    'name':'jaya',
    'marks':[48,58,59,69,68]
}
s=[s1,s2,s3]
for n in s:
    for i,j in n.items():
        if i=='marks' :
            r=0
            print(i,end=" ")
            for t in j:
                r=r+t
            print("\nresult is",r/len(j))
        else:
            print(i,j)

roll 101
name ajay
marks
result is 84.4
roll 102
name jay
marks
result is 76.4
roll 103
name jaya
marks
result is 60.4

In [3]:
languages = ['c','c++','java','python','oracle']
s={
    'roll':101,
    'name':'ajay',
    'marks':[98,78,99,79,68]
}
for i,j in s.items():
    if i=='marks':
        for x,y in zip(languages,j):
            print(x,y)
    else:
        print(i,j)

roll 101
name ajay
c 98
c++ 78
java 99
python 79
oracle 68